@charset "UTF-8";
/*
    em HTML é ID = em CSS é # (ID´S IGUAIS NÃO SE REPETE)
    em HTML é class = em CSS é . (CLASS´S IGUAIS PODEM REPETIR)
*/
body{
    background-color: rgb(117, 230, 107);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: green;
}
#principal{
    color: blue;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
h2{
    color: rgb(12, 90, 12);
}
.basico{
    color: red;
}
.intermediario{
    color: purple;
}
.avancado{
    color: black;
}
.destaque{
    background-color: yellow;
}