@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}

body{
    color: white;
    background-color: white;
}

:root{
    --fonte-titulo: 'Passion';
    --fonte-letra: 'Sriracha', cursive;
}
/*Fonts*/
@font-face {
    font-family: 'Passion';
    src: url('fontes/PassionOne-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Sriracha';
    src: url('fontes/Sriracha-Regular.ttf') format('truetype');
}

header{
    padding-top: 5%;
    text-align: center;
    background-color: black;
    font-family: var(--fonte-titulo);
    font-size: 150%;
    color: white;
    height: 170px;
    min-width: 100%;
    max-width: 100%;
}
div.parteletras{
    background-color: white;
    font-family: var(--fonte-letra);
    padding: 5%;
    font-size: 200%;
    height: 20%;
    min-width: 100%;
    max-width: 100%;
    color: black;
}
div.imagem{
    background-image: url('imagens/background001.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--fonte-letra);
    padding: 5%;
    font-size: 200%;
    height: 20%;
    min-width: 100%;
    max-width: 100%;
    color: white;
}
div.imagem2{
    background-image: url('imagens/background002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--fonte-letra);
    padding: 5%;
    font-size: 200%;
    height: 20%;
    min-width: 100%;
    max-width: 100%;
    color: black;
}
footer{
    font-family: var(--fonte-letra);
    text-align: center;
    background-color: black;
}
